.header {
    height: 300px;
    background: url("../i/bg1.jpg") no-repeat
    center;

}

.bit {
    text-align: center;
    width: 10%;
    background-color: #fafafa;
    float: left;
    font-size: 6vw;
}

.bit a:link {
    color: #e8308c;
    text-decoration: none;
}

.bit a:hover {
    color: #e8308c;
    text-decoration: none;
}

.bit a:visited {
    color: #3080e8;
    text-decoration: none;
}
